@CHARSET "ISO-8859-1";

/* color palette */
/* C7E314 
   5FE314
   14E330
   E39814
   E33014
*/

/* biglinks.php */

#biglinks_buttons {
	
}

.biglinks_button {
	
	display: table-cell;
	border-style: solid;
	border-color: #cccccc;
	border-width: 1px;
	margin: 20px;
	padding: 20px;
	height: 150px;
	width: 150px;
	text-align: center;
	vertical-align: middle;
	background-color: #EFB;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
		
}

.biglinks_image {
	border: none;
}

.error, .success {
	display: block;
	border-style: solid;	
	border-width: 3px;
	margin: 5px;
	padding: 10px;
	text-align: center;
}

.error {
	border-color: #900;
	color: red;
}

.success {
	border-color: #090;
	color: #090;
}


input {
	margin: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-style: solid;
	border-color: #C7E314;
	border-width: 2px;
}

.lockedinput {
	background-color: #DDD;	
}