@CHARSET "ISO-8859-1";

/* color palette */
/* C7E314 
   5FE314
   14E330
   E39814
   E33014
*/

/* biglinks.php */

#biglinks_buttons {
	
}

.code {
	font-family: monospace;
	font-weight: bold;
}

image {
	border-style: none;
}

body {
	background-color: #EEE;
	font-family: sans-serif;
}

.breadcrumbs {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom-style: solid;
	border-bottom-color: #369;
	border-bottom-width: 1px;
}

.estimategroupheader {
	text-align: left;
	background-color: #FFD;	
}

.estimatemainheader {
	background-color: #EEC;	
}

h2  {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	color: #ff6600;
}

h3  {
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	color: #ff6600;
}

hr {
	border-style: none;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #ff6600;
}

#bigboy {
	width: 800px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	margin: 5px;
	padding: 10px;
	position: absolute;
	display: block;
	left: 50%;
	margin-left: -400px;
}

#topdiv {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #369;
}

#logo {
	margin-bottom: -29px;
	margin-top: -33px;
	margin-left: -62px;

}	

#topright {
	position: absolute;
	top: 16px;
	right: 9px;	
}

.biglinks_button {
	
	display: inline-block;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	margin: 5px;
	padding: 10px;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	background-color: #EFB;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
		
}

.biglinks_disabled {
	background-color: #EEE;	
}

.biglinks_image {
	border: none;
}

.error, .success {
	display: block;
	border-style: solid;	
	border-width: 3px;
	margin: 5px;
	padding: 10px;
	text-align: center;
}

.error {
	border-color: #900;
	color: red;
}

.success {
	border-color: #090;
	color: #090;
}

.estimates td, .estimates th {
	border-style: none;
	border-bottom-style: solid;
	border-right-style: solid;
	border-color: #AAA;
	border-width: 1px;
	padding: 5px;
	margin: 0px;
}


input {
	margin: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-style: solid;
	border-color: #C7E314;
	border-width: 2px;
}

.lockedinput {
	background-color: #DDD;	
}